# Data preprocessing

- Normalize age and education features

In [42]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [43]:
df = pd.read_csv('../data/processed/2_data_cleaning.csv', sep=',')
df.head(3)

,Age,Education,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Cannabis
0,29.5,0,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,4
1,39.5,6,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,3
2,21.0,5,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,2

In [44]:
std_scaler = StandardScaler()

In [45]:
df[['Age', 'Education']] = std_scaler.fit_transform(df[['Age', 'Education']])
df

,Age,Education,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Cannabis
0,-0.323689,-2.552557,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,4
1,0.501130,0.074843,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,3
2,-1.024784,-0.363057,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,2
3,0.501130,-2.552557,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,3
4,2.604416,-1.238857,-0.67825,-0.30033,-1.55521,2.03972,1.63088,-1.37983,-1.54858,0
...,...,...,...,...,...,...,...,...,...,...
1879,-1.024784,0.512743,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5
1880,-1.024784,0.512743,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,3
1881,-0.323689,0.950643,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,6
1882,-1.024784,0.512743,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,6
1883,-1.024784,0.512743,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,3