# Data preprocessing

- Normalize age and education features

In [5]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [6]:
df = pd.read_csv('../data/processed/2_data_cleaning.csv', sep=',')
df.head(3)

,Age,Gender,Education,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Cannabis
0,39.5,1,1,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,0
1,29.5,1,0,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,4
2,39.5,1,6,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,3

In [7]:
std_scaler = StandardScaler()

In [8]:
df[['Age', 'Gender' ,'Education']] = std_scaler.fit_transform(df[['Age', 'Gender', 'Education']])
df

,Age,Gender,Education,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Cannabis
0,0.500963,0.998410,-2.111593,0.31287,-0.57545,-0.58331,-0.91699,-0.00665,-0.21712,-1.18084,0
1,-0.324019,0.998410,-2.549090,-0.67825,1.93886,1.43533,0.76096,-0.14277,-0.71126,-0.21575,4
2,0.500963,0.998410,0.075895,-0.46725,0.80523,-0.84732,-1.62090,-1.01450,-1.37983,0.40148,3
3,-1.025254,-1.001593,-0.361603,-0.14882,-0.80615,-0.01928,0.59042,0.58489,-1.37983,-1.18084,2
4,0.500963,-1.001593,-2.549090,0.73545,-1.63340,-0.45174,-0.30172,1.30612,-0.21712,-0.21575,3
...,...,...,...,...,...,...,...,...,...,...,...
1880,-1.025254,-1.001593,0.513392,-1.19430,1.74091,1.88511,0.76096,-1.13788,0.88113,1.92173,5
1881,-1.025254,0.998410,0.513392,-0.24649,1.74091,0.58331,0.76096,-1.51840,0.88113,0.76540,3
1882,-0.324019,-1.001593,0.950890,1.13281,-1.37639,-1.27553,-1.77200,-1.38502,0.52975,-0.52593,6
1883,-1.025254,-1.001593,0.513392,0.91093,-1.92173,0.29338,-1.62090,-2.57309,1.29221,1.22470,6
1884,-1.025254,0.998410,0.513392,-0.46725,2.12700,1.65653,1.11406,0.41594,0.88113,1.22470,3

In [9]:
df.describe()

,Age,Gender,Education,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS,Cannabis
count,1.885000e+03,1.885000e+03,1.885000e+03,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000
mean,2.261674e-16,1.055448e-16,1.470088e-16,0.000047,-0.000163,-0.000534,-0.000245,-0.000386,0.007216,-0.003292,2.989390
std,1.000265e+00,1.000265e+00,1.000265e+00,0.998106,0.997448,0.996229,0.997440,0.997523,0.954435,0.963701,2.287438
min,-1.025254e+00,-1.001593e+00,-2.549090e+00,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480,0.000000
25%,-1.025254e+00,-1.001593e+00,-3.616027e-01,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930,1.000000
50%,-3.240188e-01,9.984098e-01,5.133923e-01,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870,3.000000
75%,5.009633e-01,9.984098e-01,9.508899e-01,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400,5.000000
max,2.604668e+00,9.984098e-01,9.508899e-01,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730,6.000000

In [10]:
df.to_csv('../data/processed/5_data_preprocessing.csv', index=False)